@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


*{
  
box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  min-height: 100vh;

}
